<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cqut.blogspring.dao.ArticleDao">
    <select id="selectById" resultType="Article">
        select * from article where article_id = #{articleId}
    </select>
<!--    查询视图-->
    <select id="selectListByUserId" resultType="Article">
        select * from article_info where user_id = #{userId} order by  article_date desc
    </select>

    <select id="selectListByView" resultType="Article">
        select * from article_info order by article_view desc
    </select>

    <select id="selectListByTitle" resultType="Article">
        select * from article_info where article_title like "%"#{articleTitle}"%"
    </select>

    <select id="selectCommentById" parameterType="string" resultType="integer">
        SELECT
            COUNT(*) as comment_sum
        FROM
            article
            JOIN `comment` ON article.article_id = `comment`.article_id
        WHERE article.article_id = #{articleId}
        GROUP BY
            article.article_id
    </select>

    <select id="selectList" resultType="Article">
        select * from article
    </select>

    <insert id="insert" parameterType="Article">
        insert into article(article_id, user_id, categories_id, article_title, article_content)
        value (#{articleId}, #{userId}, #{categoriesId}, #{articleTitle}, #{articleContent})
    </insert>

    <delete id="deleteById" parameterType="string">
        delete from article where article_id = #{articleId}
    </delete>

    <update id="updateViewById" parameterType="string">
        update article
        set article_view = article_view + 1
        where article_id = #{articleId}
    </update>

    <update id="updateLikeById" parameterType="string">
        update article
        set article_like = article_like + 1
        where article_id = #{articleId}
    </update>
    <update id="modifyContent" parameterType="Article">
        update article
        set article_title = #{articleTitle},
            article_content = #{articleContent}
        where article_id = #{articleId}
    </update>
</mapper>